html, body,
#content, #content section {
    text-align: center;
}
section h2 {
    padding-right: 8%;
    padding-left: 8%;
}
#projects, #contact, #modal_video_container iframe {
    -webkit-box-shadow: 0px 0px 10px 5px #888888;
    -moz-box-shadow: 0px 0px 10px 5px #888888;
    box-shadow: 0px 0px 10px 5px #888888;
}
#home, #projects, #contact {
    padding-left: 10%;
    padding-right: 10%;
}
#simplemodal-container {
    -webkit-box-shadow: 0px 0px 2px 0px #000;
    -moz-box-shadow: 0px 0px 2px 0px #000;
    box-shadow: 0px 0px 2px 0px #000;
}
.modal_photo_carousel {
    height: 220px;
    vertical-align: middle;
    margin-bottom: 20px;
}
#modal_video_container {
    padding-right: 20px;
}
iframe {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.modal_content img {
    border-color: #FFFFFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    opacity:0.8;
    filter:alpha(opacity=80);
}
.owl-modal_content img:hover, .owl-modal_content img:focus {
    cursor: pointer;
    opacity:1.0;
    filter:alpha(opacity=100);
}
.owl-carousel .owl-item img {
    width: auto;
}
#home {
    background-image: url(../img/bg1.png);
}
#projects {
    background-image: url(../img/bg2.png);
    overflow:auto;
}
#contact {
    background-image: url(../img/bg3.png);
    overflow:auto;
}
.modal_content {
    display: none;
}
#simplemodal-overlay {
    background-color:#000;
}
#simplemodal-container {
    height:80%; 
    width:85%; 
    background-color:#FFFFFF;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
.photo_slider { position: relative; overflow: auto; }
.photo_slider li { list-style: none; }
.photo_slider ul li { float: left; }
nav {
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
    position: fixed;
    top: 0;
    -webkit-box-shadow: 0px 0px 10px 10px #888888;
    -moz-box-shadow: 0px 0px 10px 10px #888888;
    box-shadow: 0px 0px 10px 10px #888888;
}
nav li {
    padding-top: 10px;
}
h2, h3 {
    font-family: 'Comfortaa', cursive;
    font-weight: 1px;
    letter-spacing: 2px;
    line-height: 40px;
}
p {
    font-family: 'Comfortaa', cursive;
    font-size: 18px;
}
a:hover, a:focus {
    cursor: pointer;
}
.pure-u-1-4, #project_list, .page_text {
    background-color: #FFFFFF;
    padding: 10px;
    margin: 0 auto;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-align: center;
}
#home_content, #project_list, #contact_boxes{
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
}
#image_fader img, .inner_home_blurb, #about_us, #feeds {
    -webkit-box-shadow: 1px 1px 2px 0px #363636;
    -moz-box-shadow: 1px 1px 2px 0px #363636;
    box-shadow: 1px 1px 2px 0px #363636;
}
.home_blurb {
    height: 20em;
    width: 33.3%;
    display: inline-block;
    float: left;
    color: #FFFFFF;
}
.inner_home_blurb {
    height: 100%;
    padding-left: 1em;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
#red_blurb {
    background-color: #D83C1C;
    margin-right: 1em;
}
#green_blurb {
    background-color: #8CC053;
    margin-right: 0.5em;
    margin-left: 0.5em;
}
#orange_blurb {
    margin-left: 1em;
    background-color: #FEA72B;
}
.inner_home_blurb .blurb_icon {
    float: left;
    height: 8em;
    width: 8em;
    padding-top: 1em;
    margin-right: 1em;
}
.home_blurb_header {
    font-family: 'Comfortaa', cursive;
    text-align: left;
    padding-top: 0.7em;
    font-size: 2.4em;
    padding-left: 2em;
}
#home_content #about_us {
    display: inline-block;
    width: 65%;
    float: left;
    background-color: #FFFFFF;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin-right: 2.2em;
    margin-top: 1.6em;
    height: 35em;
}
#home_content #about_us h2 {
    font-size: 1.7em;
    text-align: left;
    padding-bottom: 0;
    padding-top: 1em;
    padding-left: 5%;
    line-height: 0;
}
#home_content #about_us .video {
    display: inline-block;
    float: right;
    margin-left: 1em;
    padding-right: 1em;
}
#home_content #about_us .video p {
    color: #3C3C3C;
    margin-top: 0.1em;
    font-size: 0.7em;
    line-height: 0;
}
#home_content #feeds {
    display: inline-block;
    width: 31.5%;
    color: #FFFFFF;
    background-color: #A23CAA;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin-top: 1.5em;
    height: 35em;
}
#home_content p {
    font-size: 22px;
    text-align: left;
    padding-left: 5%;
    padding-top: 1%;
    padding-right: 5%;
    line-height: 40px;
}
.pure-menu li a:hover, .pure-menu li a:focus {
    background: none;
    text-decoration: underline;
}
.down_btn {
    float: right;
    padding-top: 9.6em;
    padding-right: .6em;
    font-size: 1.1em;
    font-family: 'Indie Flower', cursive;
    opacity:0.8;
    filter:alpha(opacity=80);
}
.down_btn img {
    padding-left: 0.2em;
    width: 1.2em;
}
.down_btn:hover, #home_down_btn:focus {
    opacity:1.0;
    filter:alpha(opacity=100);
    cursor: pointer;
}
#project_list {
    margin-bottom: 2%;
}
#project_item {
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
.modal_content .pure-u-1-2 {
    text-align: left;
    padding-left: 2%;
    padding-right: 2%;
    width: 40%;
}
.modal_content .project_desc {
    font-family: 'Comfortaa', cursive;
    font-size: 18px;
    font-weight: 1px;
    margin-top: 0;
    padding-top: 0;
    line-height: 30px;
    padding-left: 6%;
}
.modal_content .pure-u-1-2 iframe {
    width: 600px;
    height: 260px;
}
#project_item:hover, #project_item:focus {
    background-color: #D1D1D1;
    cursor: pointer;
}
#project_item p {
    font-size: 22px;
}
#projects h2, #contact h2 {
    padding-top: 100px;
}
#contact .pure-u-1-3 {
    height: 350px;
    width: 25%;
    position: relative;
    background-color: #FFFFFF;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin: 0 auto;
    margin-right: 40px;
    padding-left: 15px;
    padding-right: 15px;
}
#contact img {
    max-height: 40%;
    max-width: 100%;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;;
}
#footer {
    background-color: #474747;
    position: relative;
    left: 0;
    bottom: 0;
    height: 10%;
    width: 100%;
}
#image_fader .image_fader_item img {
    display: block;
    width: 100%;
    height: 450px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin-bottom: 1em;
}