html, body,
#content,
#content section {
    text-align: center;
    height: 100%;
}
#content section {
    position: relative;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#home, #projects, #contact, #simplemodal-container, iframe {
    -webkit-box-shadow: 0px 0px 10px 5px #888888;
    -moz-box-shadow: 0px 0px 10px 5px #888888;
    box-shadow: 0px 0px 10px 5px #888888;
}
#home, #projects, #contact {
    padding-left: 3%;
    padding-right: 3%;
}
.modal_photo_carousel {
    height: 220px;
    background-color: #000;
    vertical-align: middle;
    padding-top: 20px;
    margin-bottom: 20px;
    -webkit-box-shadow: inset 0px 0px 20px 0px #888888;
    -moz-box-shadow: inset 0px 0px 20x 0px #888888;
    box-shadow: inset 0px 0px 20px 0px #888888;
}
#modal_video_container {
    padding-right: 20px;
}
iframe {
    border-radius: 10px;
}
img {
    border-color: #FFFFFF;
    border-radius:10px;
}
#home {
    background-image: url(../img/bg1.jpg);
}
#projects {
    background-image: url(../img/bg2.jpg);
}
#contact {
    background-image: url(../img/bg3.jpg);
}
.modal_content {
    display: none;
}
#simplemodal-overlay {
    background-color:#000;
}
#simplemodal-container {
    height:80%; 
    width:85%; 
    background-color:#FFFFFF;
    border-radius: 15px;
}
.photo_slider { position: relative; overflow: auto; }
    .photo_slider li { list-style: none; }
        .photo_slider ul li { float: left; }
nav {
    font-family: 'Lilita One', cursive;
    font-size: 20px;
    position: fixed;
    top: 0;
    box-shadow: 0px 0px 10px 10px #888888;
}
h1 {
    font-family: 'Kranky', cursive;
}
p {
    font-family: 'Lilita One', cursive;
    font-size: 18px;
}
.pure-u-2-5, .pure-u-1-4 {
    background-color: #FFFFFF;
    padding: 10px;
    margin: 2%;
    border-radius: 15px;
    text-align: center;
}