html, body,
#content,
#content section {
    font-family: 'Indie Flower', cursive;
    text-align: center;
    height: 100%;
}
#content section {
    position: relative;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#home, #projects, #contact, #simplemodal-container {
    padding-left: 3%;
    padding-right: 3%;
    -webkit-box-shadow: 0px 0px 10px 5px #888888;
    -moz-box-shadow: 0px 0px 10px 5px #888888;
    box-shadow: 0px 0px 10px 5px #888888;
}
#home {
    background-image: url(../img/bg1.jpg);
}
#projects {
    background-image: url(../img/bg2.jpg);
}
#contact {
    background-image: url(../img/bg3.jpg);
}
.modal_content {
    display: none;
}
#simplemodal-overlay {
    background-color:#000;
}
#simplemodal-container {
    height:80%; 
    width:85%; 
    background-color:#FFFFFF;
    border-radius: 15px;
}
.photo_slider { position: relative; overflow: auto; }
    .photo_slider li { list-style: none; }
        .photo_slider ul li { float: left; }
nav {
    position: fixed;
    top: 0;
    box-shadow: 0px 0px 10px 10px #888888;
}
p {
    font-family: 'Indie Flower', cursive;
}
.pure-u-2-5, .pure-u-1-4 {
    background-color: #FFFFFF;
    padding: 10px;
    margin: 2%;
    border-radius: 15px;
    text-align: center;
}